Flujo NODE-red.json
[
    {
        "id": "7cd41cdd48f6a80e",
        "type": "tab",
        "label": "Conexiónremota",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af470b14b29be9cc",
        "type": "inject",
        "z": "7cd41cdd48f6a80e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "bfbc704a2ac69054"
            ]
        ]
    },
    {
        "id": "bfbc704a2ac69054",
        "type": "ui_switch",
        "z": "7cd41cdd48f6a80e",
        "name": "",
        "label": "Led",
        "tooltip": "",
        "group": "f9e764a2e4aa5392",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "utng/homher/leds_buzzer",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "7297779d024ffea0"
            ]
        ],
        "inputLabels": [
            "1"
        ],
        "outputLabels": [
            "0"
        ]
    },
    {
        "id": "7297779d024ffea0",
        "type": "mqtt out",
        "z": "7cd41cdd48f6a80e",
        "name": "",
        "topic": "utng/homher/leds_buzzer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c7eaf46a89f1319",
        "x": 650,
        "y": 360,
        "wires": [],
        "inputLabels": [
            "b'3'"
        ]
    },
    {
        "id": "dadf0082a3e121d1",
        "type": "inject",
        "z": "7cd41cdd48f6a80e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "344dbde7f9bd8a5e"
            ]
        ]
    },
    {
        "id": "344dbde7f9bd8a5e",
        "type": "ui_switch",
        "z": "7cd41cdd48f6a80e",
        "name": "",
        "label": "Buzzer",
        "tooltip": "",
        "group": "b70273d15ca90839",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "utng/homher/leds_buzzer",
        "topicType": "msg",
        "style": "",
        "onvalue": "2",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "3",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "24f4f3105da666d6"
            ]
        ],
        "inputLabels": [
            "1"
        ],
        "outputLabels": [
            "0"
        ]
    },
    {
        "id": "24f4f3105da666d6",
        "type": "mqtt out",
        "z": "7cd41cdd48f6a80e",
        "name": "",
        "topic": "utng/homher/leds_buzzer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c7eaf46a89f1319",
        "x": 670,
        "y": 420,
        "wires": [],
        "inputLabels": [
            "b'1'"
        ]
    },
    {
        "id": "f9e764a2e4aa5392",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "c6e6121ebcc3c061",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c7eaf46a89f1319",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b70273d15ca90839",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "c6e6121ebcc3c061",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "c6e6121ebcc3c061",
        "type": "ui_tab",
        "name": "Proyecto",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]